h1 {
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
p {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
body {
    background-color: #1b1b1b;
    font-family: 'Arial', sans-serif;
}
